{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [
	  { "item" : "reimuchest" },
	  { "item" : "reimuhead" },
	  { "item" : "cosplaycorner" },
	  { "item" : "bluefabric" },
	  { "item" : "redfabric" },
	  { "item" : "yellowfabric" },
	  { "item" : "plainfabric" },
	  { "item" : "fabric2" },
	  { "item" : "sewinglamp" },
	  { "item" : "sewingmachine" },
	  { "item" : "wickerbasket" },
	  { "item" : "mannequin" },
	  { "item" : "reimulegs" }
	]
  }
}